<h1>メッセージ 編集</h1>
<%= form_with model: @message, local: true do |f| %>
  <div class="form-group">
    タイトル <%= f.text_field :title %>
  </div>
  <div class="form-group">
    内容 <%= f.text_field :content %>
  </div>
  <%= f.submit "送信" %>
<% end %>
<%= link_to "一覧画面へ", messages_path %>